In [4]:
import pandas as pd
fok=pd.read_excel('wthr.xlsx')
fok

        date  temperature  windspeed   event
0 2010-07-01         10.0       90.0   sunny
1 2010-07-02          NaN        NaN     NaN
2 2010-07-03          NaN        NaN     NaN
3 2010-07-04         20.0       10.0   rainy
4 2010-07-05          NaN        NaN     NaN
5 2010-07-06         19.0       20.0   sunny
6 2010-07-07         10.0       13.0  cloudy